/*
Script Name:    WebMap.css
Script Author:  Kevin Foley, Civil Engineer
Last Modified:  6 Apr, 2018

Description:    This CSS file contains styling information for 
                the PyForecast station mapping application.
*/

body { 
    margin:0; padding:0; 
}
#map { 
    position:absolute; top:0; bottom:0; width:100%; 
}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
    background: #0a85cc;
    border-radius: 2px;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin:0
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    margin:0
}
.leaflet-container a {
    color: rgb(146, 224, 255)
}
select {
    width: 200px
}
button {
    background-color: rgb(238, 238, 238);
    border-color: rgb(51, 51, 51);
    padding: 5px;
    border-radius: 0;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    margin-top: 20px;
    color: #242424
}
button:hover {
    border-color:  rgb(109, 214, 255);
    background-color: rgb(202, 202, 202);
    color: #000000,
}
.mapboxgl-popup-content {
    color: balck;
    background-color: white;
    border-color: #0a85cc;
    box-shadow: 2px 2px 2px rgb(52,34,94);
    border-radius: 2px;
    min-width: 200px;
}
.mapboxgl-popup-close-button { margin-bottom: 10px;
                                margin-top: 0;
                                width: 20%;}
.leaflet-control-zoom a {
    opacity: 1;
    color: #0a85cc;
    background-color: rgb(238, 238, 238);
}

.leaflet-control-zoom a:hover{
    background-color: rgb(238, 238, 238)
}
.leaflet-control-attribution a {
	color: #0a85cc;
	}